# Configuration for our custom widget

<Connectivity>
  ConnectionType {{ connectionType }}
</Connectivity>

<Account Information>
  Username {{ userName }}
  Password {{ userPassword }}
</Account Information>

<System Information>
  DistributionType {{ ansible_os_family }}
  Hostname {{ ansible_hostname }}
</System Information>
